*{
	margin:0;
	padding:0;
}

.Main-Menu a{
	text-decoration:none;
	font-size:120%;
	margin:0 1%;
	padding-right:3px;
	border-right:3px solid blue;
}

.Main-Menu{
	width:100%;
	margin:1% auto;
	text-align:center;
}
