*{
	margin:0;
	padding:0;
	background-color:#000;
	color:#66FFFF;
	line-height:200%;
}

.Main-Menu a{
	text-decoration:none;
	font-size:120%;
	margin:0 1%;
	padding-right:3px;
	border-right:3px solid #66FFFF;
}

.Main-Menu{
	width:100%;
	margin:1% auto;
	text-align:center;
}

.Main-Title{
	/*background-color:#00FFFF;*/
	margin:5% auto;
	color:#0000FF;
	text-align:center;
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
	font-variant:small-caps;
}

.Main-Description{
	/*background-color:#DDFFFF;*/
	text-align:center justify;
	width:100%;
	margin:0;
	border:0;
	padding:0% 5% 5% 5%;
}

/*.Main-Description p{
	line-height:150%;
}*/

.Contact{
	width:100%;
	border:0%;
	padding:0% 5% 5% 5%;
	text-align:center;
}

.Contact img{
	width:50%;
	align:center;

}

.Contact a{
	font-size:100%;
	text-align:center;
}

.Downloads{
	margin:0%;
	border:0%;
	padding:0% 5% 5% 5%;
}



li.plugin-name{
	font-weight:bold;
	font-size:120%;
	padding-top:2%;
}

a{
	font-size:76.923076923%;
	font-weight:normal;
	text-decoration:none;

}
